@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
* {
    background-color: #0f0d06;
    box-sizing: border-box;
    color: #c2870c;
    padding: 0%;
    margin: 0;
    font-family: "Lilita One","Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0%;
}

hr{
    border-color: #c2870c;
    border-width: 4px;
}

.allContainer {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
}

.grid-col-span-full {
    grid-column: span 5;
}
.grid-col-span-2 {
    grid-column: span 2;
}
.grid-col-span-3 {
    grid-column: span 3;
}

#homeTop {
    background-color: #0f0d06;
    padding: 1%;
}

#logo {
    background-color: #0f0d06;
    padding: 0.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 10%;
    height: auto;
}

#logo:hover {
    transform: scale(1.1);
    transition: all linear;
}

#label {
    font-size: x-large;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #222e2c; */
}

/* #movieSelectionContainer {
    background-color: #222e2c;
}
#selectionContainer {
    background-color: #222e2c;
} */

#getInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#getInfo:hover {
    background-color: rgb(161, 115, 17);
    border: rgb(161, 115, 17);
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#getInfo:active {
    background-color: rgb(255, 180, 18);
    border: rgb(255, 180, 18);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#movie_title {
    /* padding-bottom: 1.5rem; */
    text-align: center;
    font-size: 500px;
    grid-column: span 5;
    /* background-color: #a5a299; */
}

#tagline {
    text-align: center;
    font-size: 140%;
    padding-bottom: 1%;
}

@keyframes glowEffect {
    from {
        box-shadow: 0px 0px 28px #c2870c;
    }
    to {
        box-shadow: 0px 0px 10px #c2870c;
    }
}@keyframes glowEffectHover {
    from {
        box-shadow: 0px 0px 24px #ffbc2d;
    }
    to {
        box-shadow: 0px 0px 10px #ffbc2d;
    }
}

optgroup {
    text-align: left;
    font-weight: bolder;
    color: #0f0d06;
    background-color: #c2870c;
}
option {
    background-color: #0f0d06;
    text-align: center;
}
#movies {
    display: block;
    margin: 1% auto;
    box-shadow: 0px 0px 15px #c2870c;
    text-align: center;
    width: 45%;
    height: 100%;
    min-height: 35px;
    /* background-color: #222e2c; */
    font-size: 150%;
    border: 2px solid #c2870c;
    border-radius: 0.9rem;
    outline: none;
    appearance: none;
    grid-column: span 5;
    padding: 1%;
    /* Animation */
    animation-name: glowEffect;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#movies:hover{
    border-color: #ffbc2d;
    color: #ffbc2d;
    animation-name: glowEffectHover;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.backGrey {
    background-color: #222e2c;
}

/* #selectionContainer::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #C2870C;
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 550px;
} */

#getInfo {
    width: 30%;
    height: 30%;
    min-height: 35px;
    color: #141006;
    background-color: #c2870c;
    border-radius: 0.2rem;
    font-size: x-large;
}

#movie_title {
    text-align: center;
    font-size: 300%;
    text-decoration: underline overline;
}

#poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    grid-column: span 2;
}

#trailer {
    display: block;
    margin: auto;
    min-height: 100px;
    width: 90%;
    height: 90%;
}

#overview {
    padding: 5% 5%;
    font-size: 140%;
    text-align: center;
}

#genreTitle {
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
}

/* #genresContainer {
    background-color: #222E2C;
} */

#genres {
    display: block;
    padding-left: 20%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #222E2C; */
}

#genres li{
    margin: 5% 0px;
    font-size: 150%;
}

.otherInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    /* background-color: #222E2C; */
}
.otherInfoNoGenre{
    font-size: 140%;
}

/* #releaseDate{
    background-color: #222E2C;
}
#productionCompany{
    background-color: #222E2C;
}
#releaseDate{
    background-color: #222E2C;
} */

#backdropImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    width: 75%;
    height: auto;
}

#backdropImage:hover {
    transform: scale(1.05);
}

#movieWebsite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    font-size: 120%;
    text-align: center;
}

#footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5px;
    clear: both;
}

#left {
    text-align: left;
    justify-content: left;
    float: left;
    padding-left: 2%;

}
#right {
    text-align: right;
    justify-content: right;
    float: right;
    padding-right: 2%;
}
